prefix=${HOME}/.npm-global
# Default registry for all normal packages
registry=https://registry.npmjs.org/

# Auth token only for GitHub Packages
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}

# Scope dfinitiv packages to GitHub
@dfinitiv:registry=https://npm.pkg.github.com/dfinitiv